@model WalletAddress

<button class="address-item-btn list-child flex items-center" type="button" data-address="@(Model.Address)" data-chain="@(Model.Chain.CovalentId)" data-short-address="@(Model.Address.ShortenAddress())" data-wallet-id="@(Model.WalletAddressId)">
    <img src="@(Model.Chain.LogoUrl)" alt="@(Model.Chain.Name)" class="block dark:brightness-150 w-6 h-6 mr-3" onerror="this.onerror=null;this.src='/img/placeholder.png';">
    <span class="title">
        @(Model.Label != null ? Model.Label : Model.Address.ShortenAddress())
    </span>
    <svg role="img" class="arrow-icon ml-auto w-6 h-6">
        <use xlink:href="/img/sprite.svg#icon-chevron-right"></use>
    </svg>
</button>
